/*******************************************************
* 
* Synergy Solution HTML/CSS?JS Theme / Frontendhero.dev
* 
* 01. Reset
* 02. General elements (body, forms, tables etc)
* 03. Global styles
* 04. Utiility classes
* 05. Grid
* 
* 06. Global / Top bar
* 07. Global / Header
* 
********************************************************/


/*******************************************************
* 01. Reset
*******************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* { 
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*******************************************************
* 02. General elemnts
*******************************************************/

html, body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    color: #ccc;
}
.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/** 
* Forms
*/
form { }
	label {
		display: block;
		margin-bottom: 5px;
		font-size: 0.900rem;
	}
	input[type="text"],
	textarea {
		border: 1px solid var(--grey);
		padding: 1rem;
		width: 100%;
		font: 1.8rem 'Red Hat Display', sans-serif;
	}
	textarea {
		height: 150px;
	}


/*******************************************************
* 03. Global styles
*******************************************************/

:root {
    font-size: 62.5%;

    /** 
    * Colours
    */
    --primary-color: #062265;
    --primary-light: #ecf2fa;
	--secondary-color: #007bff;
	
    --body-text: #757575;
    --grey: #a0a0a0;
    --light-grey: #ccc;
	--lighter-grey: #f1f1f1;

    /**
    * Border radius
    */
    --bor-rad: 5px;

}


/*******************************************************
* 04. Utiility classes
*******************************************************/

.dd-arrow {
    
}
    .dd-arrow::after {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1rem;
        content: "\e64b";
        font-family: 'themify';
        transform: translate(-50%, -50%);
    }


/*******************************************************
* 05. Grid
*******************************************************/

.grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

    .gap {
        gap: 4rem;
    }

    /** 
    * Grid spans
    */
    .span-2 { grid-column: span 2; }
    .span-3 { grid-column: span 3; }
    .span-4 { grid-column: span 4; }
    .span-5 { grid-column: span 5; }
    .span-6 { grid-column: span 6; }
    .span-7 { grid-column: span 7; }
    .span-8 { grid-column: span 8; }
    .span-9 { grid-column: span 9; }
    .span-10 { grid-column: span 10; }
    .span-11 { grid-column: span 11; }
    .span-12 { grid-column: span 12; }


/*******************************************************
* 06. Global / Top bar
*******************************************************/

#top-bar {
    background-color: var(--primary-color);
    background-image: linear-gradient(-45deg, var(--secondary-color) 50%, transparent 50%);
}

    /** 
    * Top bar global 
    */
    #top-bar a {
        color: #fff;
        text-decoration: none;
        padding: 2rem 1rem 2rem 1rem;
        display: flex;
        align-items: center;
    }
    #top-bar ul {
        display: flex;
    }
        .ti-icon {
            margin-right: 0.8rem;
            font-size: 2rem;
        }


    /** 
    * Quick contact
    */
    .quick-contact {
    }



    /** 
    * Social media
    */
    ul.social-media {
        justify-content: flex-end;
    }
    #top-bar ul.social-media a {
        padding: 2rem 0rem 2rem 0.5rem;
    }


    @media only screen and (max-width: 1000px) {

        .ti-icon {
            font-size: 2.6rem;
        }
        #top-bar ul.quick-contact a {
            padding: 2rem 1rem 2rem 0;
        }
        .quick-contact-li {
            display: none;
        }
        .quick-contact .ti-icon {
            margin: 0;
        }

    }


/*******************************************************
* 07. Global / Header
*******************************************************/

#header-primary {
    border: 1px solid red;
    padding: 3rem 0;
}
    #header-primary .wrapper {
        display: flex;
    }

        /** 
        * Logo
        */
        .logo {
            width: 100%;
            max-width: 200px;
            margin-right: auto;
        }

        /** 
        * Logo
        */
        #primary-nav {
        }
            #primary-nav > ul {
                display: flex;
            }

            /** 
            * Top links
            */
            #primary-nav > ul > li {
                position: relative;
                font-size: 1.7rem;
                margin-left: 1rem;
            }
            #primary-nav a {
                padding: 1.3rem;
                display: block;
                text-decoration: none;
                color: var(--body-text);
                border-radius: var(--bor-rad);
                transition: all 0.2s ease-in-out;
            }
            #primary-nav > ul > li > a:hover {
                background: var(--lighter-grey);
            }


            /** 
            * Top level links has children
            */
            #primary-nav > ul > li.menu-item-has-children > a {
                border-radius: var(--bor-rad) var(--bor-rad) 0 0;
                padding-right: 3.4rem;
            }
            #primary-nav > ul > li.menu-item-has-children:hover > a {
                background: var(--secondary-color);
                color: #fff;
            }
            #primary-nav li.menu-item-has-children .dd-arrow {
                right: 1rem;
                position: absolute;
                width: 1.7rem;
                height: 1.7rem;
                border-radius: var(--bor-rad);
            }
            #primary-nav li.menu-item-has-children:hover .dd-arrow {
                background-color: #4099fafc;
            }
            #primary-nav > ul > li.menu-item-has-children:hover .dd-arrow::after {
                transform: translate(-50%, -50%) rotate(180deg);
            }

            /** 
            * Sub menus
            */
            #primary-nav ul.sub-menu {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                width: 200px;
                background: var(--secondary-color);
                border-radius: 0 var(--bor-rad) var(--bor-rad) var(--bor-rad);
                transition: all 0.2s ease-in-out;
            }
                #primary-nav ul.sub-menu li {
                    border-bottom: 1px solid #ffffff4a;
                    transition: all 0.2s ease-in-out;
                }
                #primary-nav li.menu-item-has-children:hover ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                }
                #primary-nav ul.sub-menu li:hover {
                    margin-left: 0.5rem;
                }
                    #primary-nav ul.sub-menu a {
                        color: #ffffffbd;
                        font-size: 1.6rem;
                    }
                #primary-nav > ul > li.menu-item-has-children:last-child .sub-menu {
                    border-radius: var(--bor-rad) 0 var(--bor-rad) var(--bor-rad);
                    right: 0;
                }

       
